<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Oauth2.0</title>
</head>
<style>
	.navbar{
		background-color: cadetblue;
	}
	.anchor{
		margin: 6px;
		background-color: #d9edf7;
		border-color: #d9edf7;
	}
	
	input, label{
		display: block;
	}
</style>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<h1>Welcome to Oauth2.0 Security</h1>
				<div class="container">
				<div class="row">
				<div class="col-md-3">
				<h4>Hi, Welcome</h4>
			</div>
			</div>
			</div>
			
		</div>
	</nav>
	
	<br><br><br><br><br><br><br>
	<!-- Creating HTML registration form -->
	<div class="container">
		
		<h3>Welcome to the application After getting authenticated from Google.</h3>
	</div>
</body>
